/* layout */
body {
	background-color:#fff;	
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
	font-size:1.0em;
	margin:0px;
	padding:0px;
	height:100%;
	position:absolute;
	width:100%;
	display:block;
}

#videocontainer {
	position:absolute;
	top:2.5em;
	bottom:3.8em;
	left:0em;
	right:0em;
	overflow:hidden;
	display:block;
}

#servicemessage {
	position:absolute;
	display:block;
	top:0em;
	left:0em;
	right:0em;
	height:2.5em;
	overflow:visible;
	z-index:1000;
}
#paramsline {
	position:absolute;
	display:block;
	height:3.8em;
	bottom:0em;
	left:0em;
	right:0em;
}

/* other page */
body.contentpage {
	margin-top:0.5em;
	margin-bottom:2em;
	margin-right:1.5em;
	margin-left:1.5em;
	width:auto;
	height:auto;
}


/* content */
h1, h2 {
	margin-bottom:-10px;
}

h1 {
	font-size:22px;
}

h2 {
	font-size:18px;
}

.less {
	color:#999;
	font-size:12px;
}
a {
	color:#295c72;		
}
#live {
	margin:10px;
}

/* params line */
#paramsline {
	font-size:0.85em;
	padding-left:0.5em;
	padding-right:0.5em;
}
.rightline {
	text-align:right;
	display:block;
	float:right;
	margin-top:5px;
}
.leftline {
	display:inline-block;
}
.centerline {
	display:inline-block;
	margin-left:10px;
	margin-right:8px;
}
.help {
	margin-right:1em;
}
.displayfield {
	margin-left:0.4em;
	margin-right:0.4em;
}
#paramsline img {
	vertical-align:middle;
}


  /* stream - icon CC-BY, Kirill Zorenkov, https://thenounproject.com/term/stream/165191/ */
  /* user - icon CC-BY, Kimmi Studio, https://thenounproject.com/search/?q=user&i=1062390


/* service message */
#servicemessage .box {
	margin:0.2em;
	margin-right:0.3em;
	margin-left:0.3em;
	padding:0.1em;
	font-size:100%;
	border: 1px solid #AAAAAA;
	border-radius: 8px;
	background-color: #EEEEEE;
}
.clips a, #tech a {
	display:inline-block;
	text-decoration:none;
	border:1px solid #666666;
	margin:0.1em;
	padding:0.1em;
	background-color: #ffffff;
	text-color:#000000;
}
.clips a.playing, #tech a.playing {
	background-color:#FFA4A4;
}
#servicemessage .error {
	border-color: #FF0000;
	background-color: #FFCDCD;
}
#servicemessage .info {
	border-color: #0048ff;
	background-color: #ACC4FF;
}
#servicemessage .icon {
	display:inline-block;
	padding-right:24px;
	padding-bottom:24px;
	margin-right:4px;
	width:0px;
	height:0px;
	position:relative;
	background-size:24px 24px;
	background-repeat:no-repeat;
}
#servicemessage .info .icon {
	background-image: url(info.png);
}
#servicemessage .error .icon {
	background-image: url(error.png);
}


.logout {
	position:absolute;
	display:block;
	right:15px;
	top:5px;
}
#fullpage, #videojscontainer, #videojsplayer {
	position:absolute;
	left:0em;
	right:0em;
	bottom:0em;
	top:0em;
	width:100%;
	height:100%;
	display:block;
}

